@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');
@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';
@source '../views';

@theme {
    --color-primary: #E50000;
    --color-primaryHover: #C20000;
    --color-darkBg: #0b0b0a;
    --color-darkAccent: #141414;
    --color-darkUI: #1a1a1a;
    --color-light: #f8fafc;
    --color-inputBg: #0d0d0d;
    --color-border: #2a2a2a;
    --color-textMuted: #999999;
    --box-shadow:
        custom: 0 8px 20px -4px rgba(0, 0, 0, 0.7),
        navbar: 0 4px 6px -1px rgba(0, 0, 0, 0.2);
    --font-family: 'Montserrat', system-ui, sans-serif;
    --font-sans: 'Montserrat', system-ui, sans-serif;
}
